<%= form_for(:session, url: log_in_path) do |form| %>
  
    <div class="field">
      <%= form.label :user %>
      <%= form.text_field :user %>
    </div>
  
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
  
    <div class="actions">
      <%= form.submit "log in"%>
    </div>
  <% end %>