<% events.each do |event| %>
  <div class="col-md-6 col-lg-4 mt-5">
    <div class="card height-10 event-card shadow">
      <!--Card image-->
      <div class="bg-dark d-flex justify-content-center">
        <% if event.thumbnail.attached? %>
          <% if event.thumbnail_type.eql?("Portrait") %>
            <%= image_tag event.thumbnail, class: 'portrait' %>
          <% else %>
            <%= image_tag event.thumbnail, class: 'landscape' %>
          <% end %>
        <% end %>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title"><%= event.title %></h4><!--Text-->
        <% if event.start_date && event.end_date %>
          <p class="card-text">
            Date: <%= event.start_date.strftime("%d %b %Y") %> - <%= event.end_date.strftime("%d %b %Y") %>
          </p>
        <% end %>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <div id="publish-btn-<%= event.id %>">
          <% if event.published? %>
            <%= render 'unpublish', event: event %>
          <% else %>
            <%= render 'publish', event: event %>
          <% end %>
        </div>
        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: {confirm: 'Are you sure?'} %>
      </div>
    </div>
  </div>
<% end %>