<% provide(:page_title, @event.title) %>

<p id="notice"><%= notice %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1><%= @event.title.capitalize %></h1>
      <p><%= @event.published_date %> </p>
    </div>
  </div>

  <div class="row">
    <div class="col-4 bg-brown pr-0">
      <h2 class="p-4">
        Kalaidoscope
      </h2>
      <p class="pl-4 pr-4 pt-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid amet architecto beatae
        consectetur corporis cupiditate dolor dolores ea eaque eos esse eum eveniet ex excepturi explicabo
        fugit incidunt ipsa iste, labore laborum nam neque nisi nobis non nostrum praesentium quas qui quisquam
        reiciendis repellat reprehenderit suscipit tempore ut, voluptatum!
      </p>
    </div>
    <div class="col-8 pl-0">
      <%= image_tag 'ensemble_photo.jpg', class: 'img-fluid' %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#slider').carouFredSel({
            width: '100%',
            align: false,
            items: 3,
            items: {
                width: $('#wrapper').width() * 0.15,
                height: 500,
                visible: 1,
                minimum: 1
            },
            scroll: {
                items: 1,
                timeoutDuration: 5000,
                onBefore: function (data) {

                    //	find current and next slide
                    var currentSlide = $('.slide.active', this),
                        nextSlide = data.items.visible,
                        _width = $('#wrapper').width();

                    //	resize currentslide to small version
                    currentSlide.stop().animate({
                        width: _width * 0.15
                    });
                    currentSlide.removeClass('active');

                    //	hide current block
                    data.items.old.add(data.items.visible).find('.slide-block').stop().fadeOut();

                    //	animate clicked slide to large size
                    nextSlide.addClass('active');
                    nextSlide.stop().animate({
                        width: _width * 0.7
                    });
                },
                onAfter: function (data) {
                    //	show active slide block
                    data.items.visible.last().find('.slide-block').stop().fadeIn();
                }
            },
            onCreate: function (data) {

                //	clone images for better sliding and insert them dynamacly in slider
                var newitems = $('.slide', this).clone(true),
                    _width = $('#wrapper').width();

                $(this).trigger('insertItem', [newitems, newitems.length, false]);

                //	show images
                $('.slide', this).fadeIn();
                $('.slide:first-child', this).addClass('active');
                $('.slide', this).width(_width * 0.15);

                //	enlarge first slide
                $('.slide:first-child', this).animate({
                    width: _width * 0.7
                });

                //	show first title block and hide the rest
                $(this).find('.slide-block').hide();
                $(this).find('.slide.active .slide-block').stop().fadeIn();
            }
        });

        //	Handle click events
        $('#slider').children().click(function () {
            $('#slider').trigger('slideTo', [this]);
        });

        //	Enable code below if you want to support browser resizing
        $(window).resize(function () {

            var slider = $('#slider'),
                _width = $('#wrapper').width();

            //	show images
            slider.find('.slide').width(_width * 0.15);

            //	enlarge first slide
            slider.find('.slide.active').width(_width * 0.7);

            //	update item width config
            slider.trigger('configuration', ['items.width', _width * 0.15]);
        });

    });
</script>

<div class="container-fluid mt-5">
  <div class="row">
    <div id="wrapper">
      <div id="slider">

        <div class="slide" style="background-image: url(<%= path_to_image('ensemble_photo.jpg') %>); background-repeat: no-repeat; background-size: cover">
          <div class="slide-block">
            <h4>Ice Age</h4>
            <p>Heading south to avoid a bad case of global frostbite, a group of migrating misfit creatures embark on a
              hilarious quest to reunite a human baby with his tribe.</p>
          </div>
        </div>

        <div class="slide" style="background-image: url(<%= path_to_image('bugs.jpg') %>); background-repeat: no-repeat; background-size: cover">
          <div class="slide-block">
            <h4>For The Birds</h4>
            <p>For the Birds is an animated short film, produced by Pixar Animation Studios released in 2000. It is
              shown in a theatrical release of the 2001 Pixar feature film Monsters, Inc.</p>
          </div>
        </div>

        <div class="slide" style="background-image: url(<%= path_to_image('bugs.jpg') %>); background-repeat: no-repeat; background-size: cover">
          <div class="slide-block">
            <h4>UP</h4>
            <p>A comedy adventure in which 78-year-old Carl Fredricksen fulfills his dream of a great adventure when he
              ties thousands of balloons to his house and flies away to the wilds of South America.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<% if false %>
  <div class="container mt-5">
    <div>
      <div class="row">
        <div class="col text-xs-center">
          <h1><%= @event.title.capitalize %></h1>
          <p><%= @event.published_date %> </p>
        </div>
      </div>
      <!-- Nav tabs -->
      <div class="row">
        <div class="col text-xs-center">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#post" aria-controls="#post" aria-selected="true" role="tab" data-toggle="tab">Post</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#images" aria-controls="#images"
                                    aria-selected="false" role="tab" data-toggle="tab">Images</a></li>
            <li class="nav-item"><a class="nav-link" href="#videos" aria-controls="#videos"
                                    aria-selected="false" role="tab" data-toggle="tab">Videos</a></li>
          </ul>
        </div>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="post">
          <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
              <%= @event.content.html_safe %>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="images">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 text-xs-center mt-4">
              <% (0...@event.images.count).each do |image| %>
                <div class="card mb-4">
                  <!--Card image-->
                  <div class="view overlay">
                    <% if @event.images[image] %>
                      <%= image_tag @event.images[image], class: 'card-img-top img-fluid' %>
                    <% else %>
                    <% end %>
                  </div>
              <% end %>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="videos">
            <div class="row">
              <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center embed-responsive embed-responsive-16by9">
                <% (0...@event.videos.count).each do |video| %>
                  <%= video_tag(url_for(@event.videos[video]), controls: '') %>
                  <%= link_to "Delete Video", delete_video_event_path(videos_id: @event.videos[video].id), method: :delete, data: {confirm: "Are you sure?"} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <%= link_to 'Edit', edit_event_path(@event) %> |
        <%= link_to 'Back', events_front_path %>
      </div>
    </div>
  </div>
<% end %>

