<p id="notice"><%= notice %></p>

<div class="container mt-5 p-0">
  <div class="row">
    <div class="col">
      <h1 class="title"><%= @upcoming_event.title.capitalize %></h1>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-4 px-0 bg-light">
      <p class="p-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid amet architecto beatae
        consectetur corporis cupiditate dolor dolores ea eaque eos esse eum eveniet ex excepturi explicabo
        fugit incidunt ipsa iste, labore laborum nam neque nisi nobis non nostrum praesentium quas qui quisquam
        reiciendis repellat reprehenderit suscipit tempore ut, voluptatum!
      </p>
    </div>
    <div class="col-8 pl-0">
        <%= image_tag 'join_us_now.jpeg', class: 'img-fluid' %>
    </div>
  </div>
</div>

<% if @current_user %>
  <%= link_to 'Edit', edit_upcoming_event_path(@upcoming_event) %> |
  <%= link_to 'Back', upcoming_events_path %>
<% end %>