<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @upcoming_event.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @upcoming_event.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @upcoming_event.date %>
</p>

<%= link_to 'Edit', edit_upcoming_event_path(@upcoming_event) %> |
<%= link_to 'Back', upcoming_events_path %>
