<footer class="footer-distributed">

  <div class="footer-left">

    <h3>NUS <span>Guitar Ensemble</span></h3>

    <p class="footer-links">
      <%= link_to 'Home', root_url %>
      路
      <%= link_to 'About', about_path %>
      路
      <%= link_to 'Upcoming', upcoming_events_path %>
      路
      <%= link_to 'Gallery', events_path %>
      路
      <%= link_to 'Contact', join_us_path %>
    </p>

    <p class="footer-company-name">A member of NUS Center For The Arts</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fas fa-map-marker-alt"></i>
      <p><span>17 Kent Ridge Cresent</span> Runme Shaw CFA Studios</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+65 9879 1096</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:nusguitarensemble@gmail.com">nusguitarensemble@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Follow us on:</span>
    </p>

    <div class="footer-icons">
      <a href="https://www.facebook.com/NUSGuitarEnsemble/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.youtube.com/user/NusGuitarEnsemble"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com/nusguitarensemble/"><i class="fab fa-instagram"></i></a>

    </div>

  </div>

</footer>
