<footer class = "footer">

	<small class="pl-2">
		In development.
	</small>

	<nav class="pr-2">
		<ul>
			<li><%= link_to "About", about_path %> </li>
			<li><%= link_to "Contact", contact_path %> </li>
      <li><a href="https://www.youtube.com/user/NusGuitarEnsemble"><%= fa_icon "youtube-play" %></a></li>
      <li><a href="https://www.youtube.com/user/NusGuitarEnsemble"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.youtube.com/user/NusGuitarEnsemble"><%= fa_icon "instagram" %></a></li>
		</ul>
	</nav>

</footer>