<%= link_to root_url do %>
  <div class="container logo">
    <div class="row">
      <div class="col-3 text-light">
        <%= image_tag "genus_logo_no_bg.png", class: "pr-4"%>
      </div>
      <div class="col-9 pl-2">
        GENUS
      </div>
    </div>
    <!--
    <div class="row" style="font-size: 0.5em">
      NUS GUITAR ENSEMBLE
    </div>
    -->
  </div>
<% end %>

<button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse dropDownMenu" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <%= link_to "Home", root_url, class: 'nav-link text-light' %>
    </li>

    <li>
      <%= link_to about_path, class: 'nav-link text-light' do %>
        About <i class="fas fa-caret-down" id="down-arrow"></i>
      <% end %>
      <ul class="p-1">
        <li class="py-1 ml-2">
          <%= link_to "About GENUS", about_path(anchor: 'genus'), class: 'nav-link text-light ml-0 pl-0' %>
        </li>
        <hr class="p-0 m-0">

        <li class="py-1 ml-2">
          <%= link_to "Our Mission Vision Values", about_path(anchor: 'mvv'), class: 'nav-link text-light ml-0 pl-0' %>
        </li>
        <hr class="p-0 m-0">

        <li class="py-1 ml-2">
          <%= link_to "About Our Founder", about_path(anchor: 'founder'), class: 'nav-link text-light ml-0 pl-0' %>
        </li>

        <hr class="p-0 m-0">

        <li class="py-1 ml-2">
          <%= link_to "Our Music Director", about_path(anchor: 'tutors'), class: 'nav-link text-light ml-0 pl-0' %>
        </li>

        <hr class="p-0 m-0">

        <li class="py-1 ml-2">
          <%= link_to "Our Tutors", about_path(anchor: 'tutors'), class: 'nav-link text-light ml-0 pl-0' %>
        </li>

        <hr class="p-0 m-0">

        <li class="py-1 ml-2">
          <%= link_to "About The Niibori Method", about_path(anchor: 'niibori-method'), class: 'nav-link text-light ml-0 pl-0' %>
        </li>

        <hr class="p-0 m-0">

        <li class="py-1 ml-2">
          <%= link_to "Schedule", about_path(anchor: 'schedule'), class: 'nav-link text-light ml-0 pl-0' %>
        </li>

      </ul>
    </li>

    <li>
      <%= link_to events_path(event_type: "Upcoming"), class: 'nav-link text-light' do %>
        Upcoming Events <i class="fas fa-caret-down" id="down-arrow-1"></i>
      <% end %>
      <% if upcoming_events = Event.where("event_type = ? AND published = ?", 'Upcoming', true) %>
        <% if upcoming_events.any? %>
          <ul class="p-1">
            <% upcoming_events.each do |event| %>
              <% if (event == upcoming_events.last || upcoming_events.count == 1) %>
                <li class="py-1 ml-2">
                  <%= link_to "#{event.title}", event_path(event), class: 'nav-link text-light ml-0 pl-0' %>
                </li>
              <% else %>
                <li class="py-1 ml-2">
                  <%= link_to "#{event.title}", event_path(event), class: 'nav-link text-light ml-0 pl-0' %>
                </li>
                <hr class="p-0 m-0">
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </li>

    <li>
      <%= link_to events_path, class: 'nav-link text-light' do %>
        Gallery <i class="fas fa-caret-down" id="down-arrow-2"></i>
      <% end %>
      <% if gallery_events = Event.where.not("event_type = ?", 'Upcoming').where("published = ?", true) %>
        <% if gallery_events.any? %>
          <ul class="p-1">
            <% gallery_events.each do |event| %>
              <% if (event == gallery_events.last || gallery_events.count == 1) %>
                <li class="py-1 ml-2">
                  <%= link_to "#{event.title}", event_path(event), class: 'nav-link text-light ml-0 pl-0' %>
                </li>
              <% else %>
                <li class="py-1 ml-2">
                  <%= link_to "#{event.title}", event_path(event), class: 'nav-link text-light ml-0 pl-0' %>
                </li>
                <hr class="p-0 m-0">
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </li>

    <li>
      <%= link_to "Contact Us", new_message_path, class: 'nav-link text-light' %>
    </li>

    <li>
      <%= link_to "FAQs", faqs_path, class: 'nav-link text-light' %>
    </li>

    <% if @current_user %>
      <li>
        <%= link_to root_path, class: 'nav-link text-light' do %>
          Admin Actions <i class="fas fa-caret-down" id="down-arrow-3"></i>
        <% end %>
        <ul class="p-1">
          <li class="py-1 ml-2">
            <%= link_to "Manage Post", manage_posts_path, class: 'nav-link text-light' %>
          </li>
          <hr class="p-0 m-0">

          <li class="py-1 ml-2">
            <%= link_to "All Messages", messages_path, class: 'nav-link text-light' %>
          </li>
          <hr class="p-0 m-0">

          <li class="py-1 ml-2">
            <%= link_to "Create Admin", signup_path, method: :get, class: 'nav-link text-light' %>
          </li>

          <hr class="p-0 m-0">

          <li class="py-1 ml-2">
            <%= link_to "Log out", logout_path, method: :delete, class: 'nav-link text-light' %>
          </li>
        </ul>
      </li>
    <% end %>

  </ul>

  <!--Search bar-->
  <% if false %>
    <%= form_tag(search_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Search Events", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "Go!", :class => 'btn btn-info glyphicon glyphicon-search', :name => nil %>
        </div>
      </div>
    <% end %>
  <% end %>
  <!--Search bar end-->

</div>

<script type="text/javascript">
    if ($(window).width() < 992) {
        $('#down-arrow').addClass('no-display');
        $('#down-arrow-1').addClass('no-display');
        $('#down-arrow-2').addClass('no-display');
        $('#down-arrow-3').addClass('no-display');
    } else {
        $('.dropDownMenu ul li').hover(function () {
            $(this).children('ul').stop(true, false, true).slideToggle(300);
        });
    }
</script>